{% extends "base.html.twig" %}

{% block title %} 
    {{ parent() }} - Gestion des equipe
{% endblock %}

{% block scripts %}
    <script src="js/script_equipe.js"></script>
{% endblock %}

{% block contenu %}

    {% include 'equipe/equipe_form_ajout.html.twig'%}
    {% include 'equipe/equipe_form_modif.html.twig'%}
    {% include 'popup_message.html.twig'%}

    <h1 id="hello-page-message" class="mb-3">Gestion des equipes </h1>
    <div class="card">
        <div class="card-header bg-purple">
            <div class="row">
                <div class="col-sm-6">Liste des equipes</div> <!-- Titre de la liste (à modifier en fonction de la page) -->
                <div class="col-sm-6 text-right">
                    <a class="white" data-toggle="modal" data-target="#modal-ajout" href="#">Ajouter une equipe</a> <!-- Bouton d'ajout (à modifier en fonction de la page) -->
                </div> 
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr> <!-- Liste des titre des champs (à modifier en fonction de la page) -->
                        <th>Libelle</th><th>Responsable</th> <th></th><th></th>
                    </tr>
                </thead>
                <tbody id="table-equipe">
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}