<div class="modal" id="modal-form-ajout" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="index.php?page=remunerationajout" method="post" enctype="application/x-www-form-urlencoded"> <!-- (à modifier en fonction de la page) -->
                <div class="modal-header">
                    <h5 class="modal-title">Ajout d'une rémunération</h5> <!-- Titre du popup d'ajout (à modifier en fonction de la page) -->
                </div>
                <div class="modal-body"> <!-- Entrée du formulaire -->
                    {% if infos_page.message_invalid_ajout is defined %}
                    <div class="alert alert-danger" role="alert">
                        {{ infos_page.message_invalid_ajout }} <!-- affichage du message d'erreur -->
                    </div>
                    {% endif %}

                    <!-- (à modifier en fonction de la page) -->

                    <div class="form-group"> <!-- Entrée du libellé -->
                        <label for="coutHoraire">Cout horaire</label>
                        <input id="coutHoraire" name="inputCoutHoraire" type="text" class="form-control" placeholder="coutHoraire" needed>
                    </div>

                </div>
                <div class="modal-footer">
                    <button name="btAjouter" type="submit" class="btn btn-purple">Ajouter</button> <!-- Validation du formulaire -->
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button> <!-- Annulation du formulaire -->
                </div>
            </form>
        </div>
    </div>
</div>


{% if infos_page.message_invalid_ajout is defined %} 
<script>
    $(document).ready(function(){
        $("#modal-form-ajout").modal("show");
    });
</script>
{% endif %}