{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
    - Gestion des projets
{% endblock %}

{% block scripts %}
    <script src="js/script_projet.js"></script>
{% endblock %}

{% block contenu %}

    {% include 'projet/projet_form_ajout.html.twig' with {'infos_page': infos_page} %}
    <!-- ajout du formulaire d'ajout (à modifier en fonction de la page) -->
    {% include 'projet/projet_form_modif.html.twig' with {'infos_page': infos_page} %}
    <!-- ajout du formulaire de modification (à modifier en fonction de la page) -->

    {% if infos_page.popup_message %}
        {% include 'popup.html.twig' with {'message': infos_page.popup_message, 'type': infos_page.popup_type} %}
        <!-- Message de succes en cas de suppression reussi -->
    {% endif %}

    <h1 class="mb-3" id="hello-page-message">Gestion des projets
    </h1>
    <!-- Titre en gros sur la page (à modifier en fonction de la page) -->
    <div class="card">
        <div class="card-header bg-purple">
            <div class="row">
                <div class="col-sm-6">Liste des projets</div>
                <!-- Titre de la liste (à modifier en fonction de la page) -->
                <div class="col-sm-6 text-right">
                    <a class="white" data-target="#modal-form-ajout" data-toggle="modal" href="#">Ajouter un projet</a>
                    <!-- Bouton d'ajout (à modifier en fonction de la page) -->
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <!-- Liste des titre des champs (à modifier en fonction de la page) -->
                        <th>Code du projet</th>
                        <th>Libelle du projet</th>
                        <th>Libelle de l'équipe</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-projet">
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
